<IfModule mod_rewrite.c>
    RewriteEngine On
    # Kalau akses langsung ke root → masuk ke public/
    RewriteCond %{REQUEST_URI} !^/public
    RewriteRule ^(.*)$ public/$1 [L]
    Require host app.icia.global
</IfModule>